html {
    box-sizing: border-box;
  }

  *, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

div {
  width: 100%;
  height: 100%;
}
p{
  text-align: center;
}

.container {
  margin: 20px;
  width: 500px;
  height: 500px;
  perspective: 1000px;
}

.coronacard {
  transition: transform 2s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.front, .back {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}

.front {
  border: 2px solid #1e8471;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)),url(3573497.jpg);
  background-repeat: no-repeat;
  background-size: 500px;
}

.front:hover {
  bottom: 2px;
  left: 2px;
  box-shadow: 0px 0px 20px 1px #000;
}

.back {
  border: 2px solid #1e8471;
  transform: rotateY(180deg);
}

.back:hover {
  bottom: 2px;
  right: 2px;
  box-shadow: 0px 0px 20px 1px #000;
}
#txt{
  margin-top: 350px;
  color: #35555f;
}

.posts {
  margin:60px auto;
  border:1px solid #dfdfdf;
  background:#fff;
  max-width:60%;
  padding:40px;
  line-height:1.5em;
  text-align:justify;
  border-radius:8px;
}
.posts h1 {
  text-align:center
}

.separate {
  padding:30px 0;
  display:block;
}
.one { background:#fff; }
.two { background:#888; }

a {
  text-decoration:none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
a:hover {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.style-7 {
  border:3px solid #000;
  color:#000;
  font:12px Montserrat;
  text-transform:uppercase;  
  padding:10px;
  font-weight:600;
  max-width:250px;
  display:block;
  text-align:center;  
  margin:30px auto 10px auto;
  position:relative;
  -webkit-box-shadow:-10px -10px 0 0 #D66D75, 10px 10px 0 0 #E29587;
  box-shadow:-10px -10px 0 0 #D66D75, 10px 10px 0 0 #E29587;

}
.style-7:hover {
  background:#000;
  border-color:#000;
  color:#fff;
    -webkit-box-shadow:-10px -10px 0 0 #D66D75, 10px 10px 0 0 #E29587;
  box-shadow:10px -10px 0 0 #D66D75, -10px 10px 0 0 #E29587;
}